body {
    font-family: 'Raleway', sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 0;
}

header {
    display: grid;
    grid-template-columns: 1fr auto 1fr; 
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #000000;
    padding: 0 20px; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-sizing: border-box; 
}

header h1 {
    grid-column: 2; 
    text-align: center;
}

header .right-link {
    grid-column: 3;
    justify-self: end; 
    margin-right: -10px; 
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    font-weight: 400;
    color: white;
    padding: 10px 15px;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s;
}

header nav ul li a:hover {
    background-color: #ddd;
    color: #000;
}

a.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fbfbfb;
    color: black;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

a.button:hover {
    background-color: #ddd;
    color: black;
}

main {
    padding-top: 150px;
    box-sizing: border-box;
}
