h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 0;  
}

header {
    display: grid;
    grid-template-columns: auto 1fr; 
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #000000;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
}

header h1 {
    grid-column: 1;
    text-align: left;
    color: white;
    font-size: 24px;
    margin-left: 0px;
}

.right-link {
    grid-column: 2; 
    text-align: right; 
}

.right-link ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
    justify-content: flex-end; 
}

.right-link li {
    margin-left: 20px; 
}

.right-link a {
    display: inline-block; 
    color: white; 
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 20px; 
    background-color: #000000; 
    border-radius: 5px; 
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.right-link a:hover {
    background-color: white; 
    color: #000; 
}

body {
    padding-top: 100px; 
    color: white;
}

main {
    padding: 20px;
    color: #000000;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

main button {
    border: none;
    background-color: #000;
    color: #fff;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

main button:hover {
    background-color: white;
    color: #000;
    transform: translateY(-3px);
}

main button:active {
    background-color: #222;
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

main a {
    text-decoration: none;
    color: white;
    background-color: #000;
    padding: 12px 24px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
    display: inline-block;
}

main a:hover {
    background-color: white;
    color: #000;
    opacity: 0.8;
    transform: translateY(-3px);
}
